





body{
	
background-image: url("red.png");
    background-color: #1976D2;

  background-size:cover;
  margin: 0;
}


li{
	display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color:  #660033;
    opacity: 0.6;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

 
li a:hover {
    background-color:  #99004d;
    transform: scale(1.1);


}



.title{
    text-align: center;
    padding: 50px 0 20px;

}

.title h1{
    margin: 0;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
    font-size: 36px;

}

.container{
    opacity: 1;
    border-radius: 5px;
    width: 60%;
    height: 400px;
    background: #bcc6cc;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
}

.containernew{
    opacity: 1;
    border-radius: 5px;
    width: 60%;

    background: #bcbcbc;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
}

.active{
    background: red;
}


   .a
    {
      box-shadow: 0 15px 40px rgba(0,0,0,.5);
      height: 40px;
      width: 300px;
      margin-top: 25px;
      margin-left: 45px;
      border-radius: 10px;
    }